@using DevExtremeAspNetCoreApp1.Models

<h2>Books</h2>

@(Html.DevExtreme().DataGrid<Book>()
    .ID("gridContainer")
    .ShowBorders(true)
    .DataSource(d => d.Mvc()
        .Controller("Books1")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id"))
    .Editing(editing => {
        editing.Mode(GridEditMode.Form);
        editing.AllowUpdating(true);
        editing.AllowAdding(true);
        editing.AllowDeleting(true);
    })
    .Columns(columns =>
    {
        columns.AddFor(m => m.Id);
        columns.AddFor(m => m.Title);
        columns.AddFor(m => m.Genre);
        columns.AddFor(m => m.PublishDate);
        columns.AddFor(m => m.Price);
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
)